<p>
    Implementation of mat-tab-group for
    center style and for default theme
</p>

<mat-tab-group mat-align-tabs="center">
    <mat-tab label="Home">
        <img src="\assets\business.jpg" alt="" width="100%" height="60%">
    </mat-tab>
    <mat-tab label="Overview">
        <img src="\assets\white_car.jpg" alt="" width="100%" height="60%">
    </mat-tab>
</mat-tab-group>
<br>


<p>
    Implementation of mat-tab-group for center
    style and for primary theme
</p>

<mat-tab-group mat-align-tabs="center" backgroundColor="primary">
    <mat-tab label="Home">Home Content</mat-tab>
    <mat-tab label="Overview">Overview Content</mat-tab>
</mat-tab-group>
<br>


<p>
    Implementation of mat-tab-group for center
    style and for accent theme
</p>

<mat-tab-group mat-align-tabs="center" backgroundColor="accent">
    <mat-tab label="Home">Home Content</mat-tab>
    <mat-tab label="Overview">Overview Content</mat-tab>
</mat-tab-group>

<mat-tab-group>
    <mat-tab label="First"> Content 1 </mat-tab>
    <mat-tab label="Second"> Content 2 </mat-tab>
    <mat-tab label="Third"> Content 3 </mat-tab>
</mat-tab-group>