<section class="aboutus container">
    <h1 class="text-center mb-5">About</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis voluptatem ratione nobis neque incidunt quibusdam quam aliquid veniam, eaque voluptas quidem, repudiandae, quod quaerat ullam sapiente ipsam. Libero, fugiat dolore tempora accusamus iure voluptatibus corporis voluptates dolores necessitatibus sequi, non inventore facere perferendis dolorem blanditiis eius nulla quia ex magni.

    </p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis voluptatem ratione nobis neque incidunt quibusdam quam aliquid veniam, eaque voluptas quidem, repudiandae, quod quaerat ullam sapiente ipsam. Libero, fugiat dolore tempora accusamus iure voluptatibus corporis voluptates dolores necessitatibus sequi, non inventore facere perferendis dolorem blanditiis eius nulla quia ex magni.

    </p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis voluptatem ratione nobis neque incidunt quibusdam quam aliquid veniam, eaque voluptas quidem, repudiandae, quod quaerat ullam sapiente ipsam. Libero, fugiat dolore tempora accusamus iure voluptatibus corporis voluptates dolores necessitatibus sequi, non inventore facere perferendis dolorem blanditiis eius nulla quia ex magni.

    </p>
    <div class="follow text-center">
        <h4>Follow Us</h4>
        <a class="bi bi-facebook" href="#">Facebook</a>
        <a class="bi bi-youtube" href="#">YouTube</a>
        <a class="bi bi-instagram" href="#">Instagram</a>
        <a class="bi bi-twitter" href="#">Twitter</a>
    </div>
</section>

<br>
  <!--Google map-->
<div id="map-container-google-2" class="z-depth-1-half map-container" style="height: 500px">
  <iframe src="https://maps.google.com/maps?q=datec24,stuttgart,fasanenhof,zettachring,10&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0"
    style="border:0" allowfullscreen></iframe>
</div>
<!--Google Maps-->